#mapbox {
	position:absolute;
	bottom:0px;
	left:0px;
	display:block;
	width:25vh;
}

#map {
	width:99%;
}

#lobbybox {
	position:absolute;
	width:25vh;
	left:0px;
	top:0vh;
}

#attack {
	position:absolute;
	bottom:1vh;
	left:43vw;
}

.themeBackgroundDefault {
	padding:5px;
	background-color:rgba(170,190,255,0.1);
	opacity:0.8;
	transition:opacity 0.1s ease-out;
}
.themeBackgroundDefault:hover {
	opacity:1;
}

.themeBorderDefault {
	border-style:solid;
	border-width:1px;
	border-color:rgba(180, 200, 255, 0.5);
	border-radius:2px;
}

.playerSlot {
	margin-top:2px;
	margin-bottom:2px;
	border-radius:5px;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
}

.themeShadowDefault {
	box-shadow:0px 0px 10px 1px rgba(150, 150, 255, 0.8);
}

.themeTextDefault {
	cursor: default;
	color:rgba(240,255,255,1);
	font-family:Arial;
	text-shadow:0px 0px 10px rgba(170,190,255,1);
}

.themeButton {
	font-size:4vh;
	padding-left:2vw;
	padding-right:2vw;
}

.themeButton:hover {
	color:white;
}

.noPadding {
	padding:0;
}
